body {
    font: 25px Montserrat, sans-serif;
    line-height: 1.8;
    color: #00ffff;
  }
  p { font-size: 22px; } 
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #1abc9c; 
    color: #ffffff;
    
  }
  .bg-2 { 
    background-color: #0D2B2E; 
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffff00; 
    color: #00ffff;
  }
  .bg-4 { 
    background-color: #ff0000; 
    color: #fff;
   
  }
  .bg-5 { 
    background-color: #7FFF00;
    color: #fff;
   
  }

  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 18px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;}
   #para1 {
  font-size: 40px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.entry h2{
    font-size:36px;
    color:red;
    font-weight:800;
}

.entry h2:hover{
    color:blue;
}

#last { 
  color: orange;
  font-size:31px;
}  

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content{
    padding-top: 140px;
    
}
.divs{
    text-align: left;
    background-color: #1abc9c;
}
.visible {
    width: 50px;
    height: 50px;
    font-size: 13px;
    background-color: #474e5d;
}
.hidden {
    width: 50px;
    height: 50px;
    font-size: 0px;
    background-color: #474e5d;
}
div1 {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: 99999;
}

@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}